.field {
  padding: 4px 6px;
  font-size: 20px;
  max-width: 650px;
}

.input-field {
  font-size: 19px;
  width: 94%;
  height: 28px;
}

select.input-field {
  font-size: 17px;
  width: 99%;
}

textarea.input-field {
  height: 45vh;
  font-size: 16px;
}

.inline-label {
  width: 78px;
  display: inline-block;
}

.winelog-submit {
  text-align: center;
}

.submit-btn {
  margin: 15px;
  width: 50vw;
  height: 52px;
  font-size: 20px;
}