.field {
  padding: 4px 6px;
  font-size: 20px;
}

.input-field {
  font-size: 19px;
  width: 97%;
  height: 30px;
}

select.input-field {
  font-size: 17px;
}

textarea.input-field {
  height: 220px;
}

.inline-label {
  width: 78px;
  display: inline-block;
}

.submit-btn {
  margin: 15px;
  width: 90px;
  height: 30px;
  font-size: 18px;
}